apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: fiware-platform
  labels:
    app: grafana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
      - name: grafana
        image: grafana/grafana:latest
        ports:
        - containerPort: 3000
          name: http
        env:
        - name: GF_SECURITY_ADMIN_PASSWORD
          value: "admin"
        - name: GF_INSTALL_PLUGINS
          value: "yesoreyeram-infinity-datasource"
        
        volumeMounts:      
        - name: grafana-datasources
          mountPath: /etc/grafana/provisioning/datasources/infinity.yaml
          subPath: infinity.yaml

        - name: grafana-datasources
          mountPath: /etc/grafana/provisioning/datasources/cratedb.yaml
          subPath: cratedb.yaml

          # 2. Montage du Provider de Dashboard
        - name: grafana-dashboards-provider
          mountPath: /etc/grafana/provisioning/dashboards/dashboard-provider.yaml
          subPath: dashboard-provider.yaml
        
        # 3. Montage du fichier JSON du Dashboard
        - name: grafana-smartfarm-dashboard
          mountPath: /var/lib/grafana/dashboards/default/smartfarm.json
          subPath: smartfarm.json

      volumes:
      - name: grafana-datasources
        configMap:
          name: grafana-datasources

      - name: grafana-dashboards-provider
        configMap:
          name: grafana-dashboards-provider
      
      - name: grafana-smartfarm-dashboard
        configMap:
          name: grafana-smartfarm-dashboard