apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: cratedb-pvc
  namespace: fiware-platform
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: hostpath
