apiVersion: apps/v1
kind: Deployment
metadata:
  name: ai-service
  namespace: fiware-platform
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ai-service
  template:
    metadata:
      labels:
        app: ai-service
    spec:
      containers:
      - name: ai-service
        image: mon-docker-registry/ai-service:v1  # Ou build local
        ports:
        - containerPort: 8000